<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="cacheEnabled" value="true"/>
        <setting name="mapUnderscoreToCamelCase" value="true" />
        <setting name="defaultFetchSize" value="100" />
        <setting name="defaultStatementTimeout" value="30" />
    </settings>

    <typeAliases>
        <typeAlias alias="Board" type="com.PTUproject.board.model.Board"/>  <!--추가된 부분-->
        <!--아하! typeAlias는 무조건 이 위치에 있어야 한다. 하단에 작성했더니 오류 발생-->
        <package name="PTUproject.board.model"/>
        <package name="PTUproject.user.model"/>
    </typeAliases>

</configuration>